.emn-china-meeting{
  .content{
    .columns{
      .content-text{
        line-height: 1.5;
        margin-top: 20px;
        ul{
          li{
            list-style: disc;
          }
        }
        a{
          color: #00c3b9;
          transition: all .5s;
          -moz-transition: all .5s;
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          &:hover{
            color: #222222;
            text-decoration: underline;

          }
        }

      }
    }
  }

}